<% if (currentUser || data.length >= 1) { data.forEach(function(msg){%>
<div class="card text-center my-2">
  <div class="card-header d-flex">
    <span class="text-center w-100"
      ><%= `Enviado por: ${currentUser?msg.user.username:"XXXXX"},
      (${currentUser?msg.user.name:"XXXXX"},
      ${currentUser?msg.user.surname:"XXXXX"})` %></span
    >
    <% if (currentUser&&currentUser.isAdmin) { %>
    <form method="POST" action="">
      <!-- prettier-ignore -->
      <input
          class="form-control"
          id="msgId"
          type="hidden"
          name="msgId"
          required="true"
          value= <%= msg._id %>
      />
      <button type="submit" class="btn-close flex-shrink-1"></button>
    </form>
    <% } %>
  </div>

  <div class="card-body">
    <h5 class="card-title"><%= msg.title %></h5>
    <p class="card-text"><%= msg.text %></p>
  </div>
  <div class="card-footer text-muted">
    <%= currentUser?msg.dateFormatted:"XX-XX-XXXX" %>
  </div>
</div>
<% })} else { %>
<div class="mt-5 text-center">
  <div class="position-absolute top-50 start-50 translate-middle">
    <img
      src="/images/error.png"
      width="128"
      height="128"
      alt="Database error"
    />
    <h4 class="mt-3">
      Ups! No se han encontrado mensajes en la base de datos.
    </h4>
  </div>
</div>
<% }%>
